.admin-container{
    display: flex;
    .admin-sidebar{
      z-index: 1;
        .pro-sidebar{
            height: 100vh!important;
            .sidebar-btn-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                .sidebar-btn {
                  transition: width 0.3s;
                  width: 150px;
                  padding: 2px 20px;
                  border-radius: 5px;
                  background: rgba(255, 255, 255, 0.05);
                  color: #adadad;
                  text-decoration: none;
                  margin: 0 auto;
                  height: 35px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  span {
                    margin-left: 5px;
                    font-size: 13px;
                  }
                  &:hover {
                    color: #dee2ec;
                  }
                }
              }
        }
    }
    .admin-content{
      width: 100%;
      .admin-header{
        align-items: center;
        display: flex;
        padding: 10px 50px 10px 10px;
        .icon-bars{
          height: 40px;
          border: 2px solid black;
          border-radius: 5px;
          width: fit-content;
          padding: 5px 20px;
          cursor: pointer;
          &:hover{
            border: 2px solid #ccc;
            background-color: #ccc;
          }
        }
        .setting{
          width: 100%;
          justify-content: flex-end;
        }
      }
      .admin-main{
        overflow: scroll;
        height: calc(100vh - 40px);
        .user-pagination{
          .pagination{
              display: flex;
              justify-content: center;
          }
      }
      }
    }
}