.dashboard-container{
    padding: 15px;
    .title{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .content{
        display: flex;
        gap: 20px;
        .content-left{
            width: 50%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
            .child{
                width: calc(50% - 10px);
                border: 2px solid #ccc;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                cursor: pointer;
                &:hover .text-2{
                    color: red;
                }
                &:hover{
                    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
                }
                .text-2{
                    font-size: 30px;
                    font-weight: 600;
                }
            }
        }
        .content-right{
            width: 50%;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}