.tab-content{
    overflow: hidden;
    .content-form{
        .input-password{
            position: relative;
            .eye{
                position: absolute;
                right: 25px;
                top: 25%;
                transform: translate(-50%);
                cursor: pointer;
            }
        }
    }
}